<div class="card-wrapper">
    <% @products.each do |product| %>
        <div class="card">
            <h4><%= product['name'] %></h4>
            <ul>
                <li><%= product['price'] %> kr</li>
                <li><%= product['description'] %></li>
            </ul>
        </div>
    <% end %>
</div>
