<div class="filter-container">
    <button class="dropdown-btn">Filtrera produkter</button>
    <div class="dropdown-content">
        <a href="/" class="filter-link" data-category="">Alla kategorier</a>
        <a href="/products/elektronik" class="filter-link" data-category="electronics">Elektronik</a>
        <a href="#" class="filter-link" data-category="clothing">Kläder</a>
        <a href="#" class="filter-link" data-category="accessories">Tillbehör</a>
    </div>
</div>

<div class="card-wrapper">
    <% @products.each do |product| %>
        <div class="card">
            <h4><%= product['name'] %></h4>
            <ul>
                <li><%= product['price'] %> kr</li>
                <li><%= product['description'] %></li>
            </ul>
        </div>
    <% end %>
</div>
