<form class='form-container' action='/users/login' method='post'>
    <label>Name<input type='text' name='username' autocomplete='off'></label>
    <label>Password<input type='password' name='password'></label>
    <input type='submit' value='Log in' class='submit-button'>
    <a href="/users/register">
        Don't have an account? Register here!
    </a>
</form>