<div class='profile-box'>
    <% if User.is_admin?(@user)%>
    <h1><%=@user["name"]%> - Admin</h1>
    <%else%>
    <h1><%=@user["name"]%></h1>
    <%end%>
    <a href='/users/logout' class='button-link'>Log out</a>
</div>