<form class='form-container' action='/users/register' method='post'>
    <h2>Welcome! Please register an account.</h2>
    <label>Name<input type='text' name='username' autocomplete='off'></label>
    <label>Password<input type='password' name='password'></label>
    <input type='submit' value='Register' class='submit-button'>
</form>