<form class='form-container' action='/products/new' method='post'>
    <h2>Create product</h2>
    <label>Name<input type='text' name='name' autocomplete='off'></label>
    <label>Price<input type='text' name='price' autocomplete='off'></label>
    <label>Description<input type='text' name='description' autocomplete='off'></label>
    <input type='submit' value='Save' class='submit-button'>
</form>